{% extends "layouts/base.html" %}
{% block content %}
<h1> Tasks </h1>
{% for task in tasks %}
<div>
    {# Esto es un comentario en Jinja2 | Este comentario no se ve en Developer Tools#}
    <!--Este comentario si se ve en el html cuando ejecutamos Developer Tools-->

    <h1>{{task.title}} </h1>
    {% if task.done == False %}
    <p> Tarea pendiente</p>
    {% else %}
    <p> Tarea realizada</p>
    {% endif %}


    <h1>{{task.description}} </h1>
    <p> Projecto; {{task.project.name}}
        {{task.project.id}}
    </p>
    <button>
        Delete
    </button>
    <button>
        ✅ Done
    </button>
    <button>
        Update
    </button>
</div>
{% endfor %}
{% endblock %}
